<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Home!</h1>
        <p class="lead">This is your homepage</p>

    </div>
</div>
