.add {
    width: 24px;
    height: 24px;
    background: url("../images/icons/add_black.png") 0 0 no-repeat;
    display: inline-block;
    margin: 10px 0 0 10px;
}

.remove {
    width: 24px;
    height: 24px;
    background: url("../images/icons/remove_black_24dp.png") 0 0 no-repeat;
    display: inline-block;
    margin: 10px 0 0 10px;
}
