<div>
    <div class="col-md-6">
        <h1 class="display-4">Register your organization!</h1>
        <ally-error-summary [errors]="formErrors"></ally-error-summary>


        <form class="example-form" novalidate *ngIf="organization"
              [formGroup]="registrationForm" (ngSubmit)="registerOrganization()">

            <md-input-container class="organization-width">
                <input mdInput disabled value="Organization details">
            </md-input-container>

            <table class="organization-width" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container class="organization-width">
                            <input mdInput placeholder="Name" formControlName="name">
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="organization-width">
                            <input mdInput placeholder="Optional site url" formControlName="url">
                        </md-input-container>
                    </td>
                </tr>
            </table>
            <md-select placeholder="Select Country" (change)="changeCountry($event.value)">
                <md-option *ngFor="let country of countries" [value]="country">{{country.name}}</md-option>
            </md-select>
            <table class="organization-width" cellspacing="0">
                <tr formArrayName="addresses"
                    *ngFor="let address of registrationForm.controls.addresses.controls; let idx=index">
                    <td [formGroupName]="idx">
                        <ally-search-address [group]="registrationForm.controls.addresses.controls[idx]"
                                             [country]="selectedCountry"
                                             (placeResult)="addressChanged($event,idx)"
                                             (click)="showCurrentAddress(idx)"></ally-search-address>
                    </td>
                    <td class="remove-button-col-size">
                        <a *ngIf="registrationForm.controls.addresses.length > 1" class="remove"
                           (click)="removeAddress(idx)"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a *ngIf="selectedCountry" class="add" (click)="addAddress()"></a>
                    </td>
                </tr>
            </table>
            <br/>
            <table class="organization-width" cellspacing="0">
                <tr>
                    <td>
                        <input type="file" (change)="selectedFiles($event)" (ngModel)="files" placeholder="Upload file"
                               multiple accept="image/*"/>
                    </td>
                </tr>
            </table>
            <br/>
            <a md-button class="pull-right" routerLink="." (click)="registerOrganization()">Submit</a>
            <br/>
        </form>
        <div style="width: 300px">
            <ally-carousel [files]="files"></ally-carousel>
        </div>
    </div>
    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
    </sebm-google-map>
</div>
