<ngb-carousel *ngIf="files && files.length > 0">
    <template ngbSlide *ngFor="let file of files">
        <img [src]="file.url">
        <div class="carousel-caption">
            <h3>{{file.name}}</h3>
            <p *ngIf="file.description">{{file.description}}</p>
        </div>
    </template>
</ngb-carousel>
