<div [formGroup]="group" class="organization-width">
    <md-input-container *ngIf="country">
        <input mdInput placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"
               type="text" #search formControlName="placeId"/>
    </md-input-container>
</div>
